body {
    padding-top: 100px;
}

h3 {
    margin: 30px 0;
}


.bg-dark {
    background-color: red!important;
}

main {
    background: no-repeat url(https://static.teteamodeler.com/media/cache/thumb_400/image-de-noel-a-imprimer-avec-tete-a-modeler.jpeg) top right;

}